@use "../mixins";
@use "../variables" as vars;

.product__container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

// ────────────────
//Swiper slider
// ────────────────
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper {
  width: auto;
  // height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 {
  height: 750px;
  width: 100%;
  position: relative;
}
@include mixins.respond(phone) {
  .mySwiper2 {
    height: 650px;
  }
}

.mySwiper {
  box-sizing: border-box;
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 450px;
}

.mySwiper2 .swiper-slide {
  object-fit: cover;
  height: auto;
}

.mySwiper .swiper-slide {
  width: 100px;
  height: 100%;
  opacity: 0.6;
  border-radius: 5px;
}

.mySwiper .swiper-slide img {
  object-fit: cover;
  border-radius: 5px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid vars.$oyster-color;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
