<div class="container-fluid">
  <div
    class="d-flex flex-column flex-md-row justify-content-between align-items-center align-items-md-start mb-5 mb-md-5 gap-5 gap-md-0">
    <div
      class="d-flex flex-column flex-md-row align-items-center gap-3 gap-md-5">
      <a href="/">
        <img src="../../images/main/logo-white.svg" alt="logo" />
      </a>
      <p class="footer-divider pt-4 pt-md-0">Gift & Decoration Store</p>
    </div>
    <ul class="d-flex flex-column flex-md-row gap-4 align-items-center">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/shop.html">Shop</a>
      </li>
      <li>
        <a href="/contact-us.html">Contact Us</a>
      </li>
    </ul>
  </div>
  <div
    class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3 gap-md-0 border-top border-dark pt-3">
    <div
      class="d-flex flex-column order-2 order-md-1 align-items-center flex-md-row gap-3 small">
      <p class="order-2 order-md-1">
        Copyright © 2023 3legant. All rights reserved
      </p>
      <div class="d-flex gap-3 order-1 order-md-2">
        <a href="https://en.wikipedia.org/wiki/Privacy_policy"
          >Privacy Policy</a
        >
        <a href="https://en.wikipedia.org/wiki/Terms_of_service"
          >Terms of Use</a
        >
      </div>
    </div>
    <div class="d-flex gap-4 fs-4 order-1 order-md-2">
      <a href="https://www.facebook.com">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.pinterest.com/">
        <i class="fab fa-pinterest-p"></i>
      </a>
    </div>
  </div>
</div>
