<header class="header-section">
  <nav class="isFixed container-fluid">
    <div class="menu-open-btn btn-opacity">Menu</div>
    <a href="/">
      <img src="../../images/main/logo.svg" alt="logo" />
    </a>
    <a id="cart-button" class="btn-opacity">
      Bag (<span id="cart-count">0</span>)
    </a>
  </nav>
  <div class="menu-overlay">
    <div class="menu-nav">
      <div class="menu-close-btn btn-opacity">Close</div>
      <a href="/">
        <img src="../../images/main/logo.svg" alt="logo" />
      </a>
    </div>
    <div class="menu-divider"></div>

    <div class="menu-cols">
      <div class="col">
        <div class="menu-link">
          <a href="/">Home</a>
        </div>
        <div class="menu-link">
          <a href="/shop.html">Shop</a>
        </div>
        <div class="menu-link">
          <a href="/product.html">Product</a>
        </div>
        <div class="menu-link">
          <a href="/contact-us.html">Contact Us</a>
        </div>
      </div>
      <div class="col header-img">
        <img src="../../images/main/header.jpg" alt="header" />
      </div>
    </div>
    <div class="menu-footer">
      <div class="menu-divider"></div>
      <div class="menu-footer-copy">
        <div class="slogan"><p>3legant™</p></div>
        <div class="socials">
          <a href="#">Twitter</a>
          <a href="#">Instagram</a>
          <a href="#">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</header>
