@use "variables" as vars;
@use "mixins";

// ─────────────────────────────
// Header Main Section
// ─────────────────────────────
.header-section {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-bottom: 60px;

  // ───── Navigation Bar ─────
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
    color: #000;
    height: 60px;
    background: #fff;
  }

  .isFixed {
    position: fixed;
    top: 0px;
    z-index: 0;
  }

  // ───── Menu Buttons ─────
  .menu-open-btn,
  .menu-close-btn {
    cursor: pointer;
  }

  // ───── Menu Overlay ─────
  .menu-overlay {
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    width: 100%;
    padding: 1.2em;
    color: vars.$stormy-color;
    background: vars.$claudy-color;
    pointer-events: none;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    color: vars.$stormy-color;
  }

  // ───── Top Navigation Inside Overlay ─────
  .menu-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    color: vars.$stormy-color;
  }

  // ───── Menu Links Columns ─────
  .menu-cols {
    display: flex;
  }

  .menu-link {
    position: relative;
    width: max-content;
  }

  .menu-link a {
    font-size: 40px;
  }

  .menu-link:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: vars.$stormy-color;
    transition: 0.3s all;
  }

  .menu-link:hover.menu-link:after {
    width: 100%;
  }

  // ───── Footer Inside Menu ─────
  .menu-footer {
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .menu-divider {
    width: 0%;
    height: 1px;
    background: vars.$oyster-color;
    margin: 1em 0;
  }

  .menu-footer-copy {
    display: flex;
    justify-content: space-between;
    color: vars.$stormy-color;
  }

  .socials {
    display: flex;
    gap: 1em;
  }

  // ───── Responsive Styles (≤ 900px) ─────
  @media (max-width: 900px) {
    .menu-overlay {
      height: 100vh;
    }

    .menu-cols {
      display: block;
    }

    .video-preview {
      height: 125px;
    }

    .menu-link a {
      font-size: 30px;
    }

    h1.header {
      font-size: 40px;
    }
  }
}
